<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="title_client">Productos</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>ID producto</th>
                            <th>Descripción</th>
                            <th>U/M</th>
                            <th>Valor unitario</th>
                            <th>IVA</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>ID producto</th>
                            <th>Descripción</th>
                            <th>U/M</th>
                            <th>Valor unitario</th>
                            <th>IVA</th>
                            <th>Acciones</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td>Televisor HD</td>
                            <td>Unidad</td>
                            <td>$2.000.000</td>
                            <td>19%</td>
                            <td>
                               <a href="#"><img class="img_client" src="icons/pencil.png" alt=""></a>
                               <img class="img_client" src="icons/delete.png" alt="">
                            </td>
                        </tr>
                       

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>