<!--<app-producto> </app-producto>-->
<!--<router-outlet></router-outlet>--><!--nos respeta las rutas que le dimos-->
<div id="wrapper">
  <!--ACÁ DEBE IR EL LA ETIQUETA DEL COMPONENTE DE LA BARRA LATERAL-->
  <app-barra-lateral></app-barra-lateral>

   <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
            <!--ACÁ DEBE IR EL LA ETIQUETA DEL COMPONENTE DE LA BARRA DE BUSQUEDA-->
            <app-header></app-header>
            <!--ACÁ DEBE IR EL LA ETIQUETA DEL COMPONENTE DE LA TABLA-->
           <!-- <app-clientes></app-clientes> -->
           <!-- le digo que dependiendo de la ruta reenderice a esa página -->
            <router-outlet></router-outlet>
       </div>
    </div>
</div>
